@font-face {
  font-family: "Nexa Bold";
  src: url(/font/nexa_bold-webfont.woff2) format("woff2"),
    url(/font/nexa_bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nexa Light";
  src: url(/font/nexa_light-webfont.woff2) format("woff2"),
    url(/font/nexa_light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
